@charset "UTF-8";

body
{
	margin: 0;
	padding: 0;
	background-color: #fcfdff;
}

p {
	font-size: 18px;
}

/*Phone View*/
.logo {
	display: none;
}

#slideshow
{
	display: none;
}

.nav
{
	display: none;
}

#miniLogo img
{
	display: block;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
}

#burger
{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: #719ace;
	cursor: pointer;
}

.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #719ace;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#x
{
    padding: 0 8px 42px 0;
    text-decoration: none;
    font-size: 40px;
	font-family: "verdana";
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidenav a
{
    padding: 30px 8px 30px 8px;
    text-decoration: none;
    font-size: 25px;
	  font-family: "verdana";
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
	  border-bottom: solid 1px #FFFFFF;
}

.sidenav a:hover, .offcanvas a:focus
{
    color: #9dd198;
}

#x:hover
{
    color: #9dd198;
}

.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.back-to-top
{
  background: none;
  margin: 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  opacity: 0.5;
}

.back-to-top:hover
{
	opacity: 1;
}

#quote
{
	padding-top: 30px;
	width: 94%;
	font-family: "arial";
	margin-bottom: 40px;
}

#quote h2
{
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
}

#quote p
{
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
}

.centered
{
	position: relative;
	margin: auto;
	width: 86%;
}

#bio
{
	width: 90%;
	font-family: "arial";
	text-align: justify;
}

#bio h2
{
	text-align: center;
	font-family: "arial";
	font-size: 50px;
	color: #719ace;
	padding-top: 10px;
}

#therapy
{
	width: 90%;
	font-family: "arial";
	text-align: justify;
}

#therapy h2
{
  text-align: center;
	font-family: "arial";
	font-size: 50px;
	color: #719ace;
}

.contactDetails
{
	width: 20%;
	position: relative;
	left: 0;
	text-align: justify;
}

#wrap
{
	width: 300px;
}

#contact
{
	width: 86%;
	font-family: "arial";
	text-align: center;
	padding-bottom: 200px;
}

#tel
{
	text-align: center;
}

a
{
	font-family: "arial";
	text-decoration: underline;
	color: #000000;
}

a:hover
{
	color: #719ace;
}

#contact h2
{
	text-align: center;
	font-family: "arial";
	font-size: 50px;
	color: #719ace;
}

#address
{
	padding-left: 20px;
	padding-top: 30px;
	font-family: "arial";
}

#address_Two
{
	padding-left: 30px;
}

#address a
{
	font-family: "arial";
}

.miniHeader
{
	margin: 0;
	font-weight: bold;
}

.miniSubHeader
{
	margin-top: 0;
}

#mapOne
{
	display: block;
	position: relative;
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#footer
{
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	background: #3C3C3C;
}

#footer p
{
	font-family: "arial";
	text-decoration-style: none;
	padding: 10px;
	color: #FFFFFF;
}

#footer a
{
	font-family: "arial";
	text-decoration: none;
	color: #FFFFFF;
}

#footer a:hover
{
	color: #719ace;
}

/*Pad view*/
@media (min-width: 720px)
{

	#miniLogo
	{
		display: none;
	}

	#burger
	{
		display: none;
	}

	.sidenav
  {
     display: none;
	}

	.logo
	{
		display: block;
	}

	.logo img
  {
		display: block;
	  padding-left: 120px;
	  padding-top: 20px;
  }

  .nav
  {
	   display: inline-block;
	   font-family: "verdana";
	   text-align: center;
	   top: 150px;
		 width: 100%;
  }

    .nav li
    {
	    display: inline;
		padding-right: 60px;
    }

    .nav a
    {
	    display: inline-block;
	    padding: 30px;
	    text-decoration: none;
	    color: #6B6B6B;
    }

    .nav a:hover
    {
	    color: #719ace;
	    font-style: italic;
    }

    .nav a:active
    {
	    color: #9bd799;
    }

	#slideshow
	{
		display: block;
	}

  #slideshow img
  {
	width: 100%;
  }

	#welcomeText
  {
	   font-size: 24px;
  }

	#mapOne
  {
	  position: absolute;
		top: 98px;
		right: 0;
	  width: 73%;
	  height: 400px;
	  margin-bottom: 20px;
  }

	#bottomImageContainer
	{
		height: 300px;
		margin-bottom: 50px;
	}

	.bottomImage
	{
		position: relative;
		float: left;
		width: 49.5%;
	}

	.rightImage
	{
		margin-left: 1%;
	}
}

/*Desktop view*/
@media (min-width: 1155px)
{
	.headerContainer
	{
		width: 86%;
		position: relative;
		margin: auto
	}

	.nav
  {
	  position: absolute;
	  display: inline-block;
	  font-family: "verdana";
	  text-align: center;
	  right: 100px;
	  top: 38px;
  }

	.logo
	{
		display: block;

	}

	.logo img
  {
		display: block;
	  float: left;
	  padding-left: 0;
	  padding-top: 0;
  }

  .nav
  {
	  position: absolute;
	  display: inline-block;
	  font-family: "verdana";
	  text-align: center;
	  left: 276px;
  }

  .nav li
  {
	  display: inline;
  }

  .nav a
  {
	  display: inline-block;
		padding: 0;
	  text-decoration: none;
	  color: #6B6B6B;
  }

  .nav a:hover
  {
	  color: #6491CB;
	  font-style: italic;
  }

  .nav a:active
  {
	  color: #9bd799;
  }

  #slideshow img
  {
	  position: relative;
		margin: auto;
  }

	#bio
	{
		 width: 1100px;
	   font-family: "arial";
		 padding-top: 20px;
	}

	#bio h2
	{
		text-align: center;
		font-family: "helvetica";
		font-size: 50px;
		color: #719ace;
	}

	#therapy
	{
		 width: 1100px;
	   font-family: "arial";
		 padding-top: 20px;
	}

	#therapy h2
	{
		text-align: center;
		font-family: "helvetica";
		font-size: 50px;
		color: #719ace;
	}

	#footer
    {
	    width: 100%;
	    margin: 0 auto;
	    height: 100px;
	    background: #3C3C3C;
    }

    #footer p
    {
	    font-family: "arial";
	    text-decoration-style: none;
	    padding-left: 50px;
		  padding-top: 20px;
	    color:#FFFFFF;
    }
}
